<div class="container img-bg">
    <section class="col-md-12 content">
        <div class="col-lg-6 col-md-6 content-item black-translucent-bg white-text logo-box">
            <i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
            <h1 class="text-uppercase">WEbXR</h1>
            <p>Hey ! Suivez nous dans la création et l'évolution de notre projet étudiant !</p>
        </div>
        <div class="col-lg-6 col-md-6 content-item background white-translucent-bg">
            <h1>IN PROGRESS</h1>
        </div> 
    </section>

    <section class="col-md-12 content padding float-section white-text">
        <div class="col-lg-6 col-md-6 content-item black-translucent-bg"></div>
        <div class="col-lg-6 col-md-6 content-item white-translucent-bg"></div>
        <div class="float-section-body blue-translucent-bg">
            <h2 class="text-center">Projet WebXR Rubik's Cub</h2>
          <div class="col-lg-12">
            <div class="col-md-4 col-lg-4" align="center">
              <i class="fa fa-commenting-o fa-4x fa-icon"></i>
              <p>Détail du projet</p>
            </div>
            <div class="col-md-4 col-lg-4" align="center">
              <i class="fa fa-play-circle fa-4x fa-icon"></i>
              <p>Application en AR</p>
            </div>
            <div class="col-md-4 col-lg-4" align="center">
              <i class="fa fa-inbox fa-4x fa-icon"></i>
              <p>Source du projet</p>
            </div>
          </div>
        </div>   
    </section>
</div>
